Repository tobiasraabe/cookiecutter-research-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8, isort

.pre-commit-config.yaml:

exclude: \.mywaflib
repos:
-   repo: local
    hooks:
    - id: black
      name: Black - The Uncompromising Code Formatter
      language: system
      entry: black
      types: [python]
    - id: blacken-docs
      name: blacken-docs - Black for Documentation
      entry: blacken-docs
      language: system
      files: '\.(rst|md|markdown)'
      args: [--line-length=79, --py36]
    - id: flake8
      name: flake8
      language: system
      entry: flake8 - Linting
      types: [python]
    - id: isort
      name: isort - Sorting Imports
      language: system
      entry: isort
      args: [--settings-path=tox.ini]
      types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: check-yaml
        exclude: \{\{cookiecutter.project_slug\}\}/(readthedocs|environment).yml

Added doc8 and fixed isort.
  .pre-commit-config.yaml
  docs/usage.rst
Due: blacken-docs

Added doc8 and fixed isort.
  .pre-commit-config.yaml
Due: none

Scheduled weekly dependency update for week 51 (#32)
  environment.yml
  requirements.txt
Due: none

Shortened second pre-commit-hook.yml.
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: none

Formatter are now core part of cc.
  .pre-commit-config.yaml
  cookiecutter.json
  hooks/post_gen_project.py
  tests/test_cookie.py
  {{cookiecutter.project_slug}}/.gitattributes
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/README.rst
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/tox.ini
Due: black, blacken-docs, flake8, isort

Add pre-commit and blacken-docs (#8)
  .pre-commit-config.yaml
  cookiecutter.json
  docs/usage.rst
  environment.yml
  format_python_files.py
  hooks/post_gen_project.py
  requirements.txt
  tests/test_cookie.py
  tox.ini
  {{cookiecutter.project_slug}}/.gitattributes
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/README.rst
  {{cookiecutter.project_slug}}/WAF.rst
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/format_python_files.py
  {{cookiecutter.project_slug}}/src/documentation/conf.py
  {{cookiecutter.project_slug}}/tox.ini
Due: black, blacken-docs, flake8, isort

Removing isort, adding reorder-python-imports.
  .pre-commit-config.yaml
  README.rst
  docs/code_conventions.rst
  docs/conf.py
  docs/usage.rst
  environment.yml
  hooks/post_gen_project.py
  tox.ini
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/prepare_data_for_project.py
  {{cookiecutter.project_slug}}/src/analysis/schelling.py
  {{cookiecutter.project_slug}}/src/data_management/get_simulation_draws.py
  {{cookiecutter.project_slug}}/src/documentation/conf.py
  {{cookiecutter.project_slug}}/src/documentation/wscript
  {{cookiecutter.project_slug}}/src/figures/plot_locations.py
  {{cookiecutter.project_slug}}/src/figures/project_dependency_graph.py
  {{cookiecutter.project_slug}}/tox.ini
  {{cookiecutter.project_slug}}/waf.py
  {{cookiecutter.project_slug}}/wscript
Due: black, blacken-docs, flake8, isort

Remove isort in favor of reorder-python-imports (#33)
  .pre-commit-config.yaml
  README.rst
  docs/code_conventions.rst
  docs/conf.py
  docs/usage.rst
  environment.yml
  hooks/post_gen_project.py
  tox.ini
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/prepare_data_for_project.py
  {{cookiecutter.project_slug}}/src/analysis/schelling.py
  {{cookiecutter.project_slug}}/src/data_management/get_simulation_draws.py
  {{cookiecutter.project_slug}}/src/documentation/conf.py
  {{cookiecutter.project_slug}}/src/documentation/wscript
  {{cookiecutter.project_slug}}/src/figures/plot_locations.py
  {{cookiecutter.project_slug}}/src/figures/project_dependency_graph.py
  {{cookiecutter.project_slug}}/tox.ini
  {{cookiecutter.project_slug}}/waf.py
  {{cookiecutter.project_slug}}/wscript
Due: black, blacken-docs, flake8, isort

Update flake8-per-file-ignores from 0.6 to 0.7
  environment.yml
Due: none

Update sphinx from 1.8.2 to 1.8.3
  environment.yml
Due: none

Multiple fixes.
  environment.yml
  tests/test_cookie.py
  tox.ini
  {{cookiecutter.project_slug}}/WAF.rst
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/src/data_management/wscript
  {{cookiecutter.project_slug}}/tox.ini
Due: black, blacken-docs, flake8, isort

Added info about pre-commit.
  CONTRIBUTING.rst
  README.rst
  {{cookiecutter.project_slug}}/README.rst
Due: blacken-docs

Scheduled weekly dependency update for week 52 (#34)
  environment.yml
Due: none

Fix testing.
  tox.ini
  {{cookiecutter.project_slug}}/README.rst
Due: blacken-docs

Fix.
  appveyor.yml
  tox.ini
Due: none

Fix
  .travis.yml
  appveyor.yml
Due: none

fix.
  tests/test_cookie.py
Due: black, flake8, isort

fix.
  .travis.yml
  appveyor.yml
  tests/test_cookie.py
Due: black, flake8, isort

Enhance testing, remove Python 3.5 (#35)
  .travis.yml
  CONTRIBUTING.rst
  README.rst
  appveyor.yml
  environment.yml
  tests/test_cookie.py
  tox.ini
  {{cookiecutter.project_slug}}/README.rst
  {{cookiecutter.project_slug}}/WAF.rst
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/src/data_management/wscript
  {{cookiecutter.project_slug}}/tox.ini
Due: black, blacken-docs, flake8, isort

Update pytest from 4.0.2 to 4.1.0
  environment.yml
Due: none

Update pytest-cov from 2.6.0 to 2.6.1
  environment.yml
Due: none

Update sphinxcontrib-bibtex from 0.4.1 to 0.4.2
  environment.yml
Due: none

Update tqdm from 4.28.1 to 4.29.0
  environment.yml
Due: none

Update pre-commit from 1.13.0 to 1.14.2
  environment.yml
Due: none

Update pytest from 4.0.2 to 4.1.1
  environment.yml
Due: none

Update tqdm from 4.28.1 to 4.29.1
  environment.yml
Due: none

Update tox from 3.6.1 to 3.7.0
  environment.yml
Due: none

Scheduled weekly dependency update for week 02 (#37)
  environment.yml
Due: none

Added warning on Py37 and minor changes.
  README.rst
  cookiecutter.json
  environment.yml
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/environment.yml
Due: black, blacken-docs, flake8, isort

Updated env.
  {{cookiecutter.project_slug}}/environment.yml
Due: none

Roll back python-graphviz problem as it is available for py37.
  README.rst
  environment.yml
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/environment.yml
Due: black, blacken-docs, flake8, isort

Fixed string escaping.
  cookiecutter.json
Due: none

Removed apostrophe change.
  cookiecutter.json
Due: none

Manual environment update and input cleaning. (#38)
  environment.yml
  {{cookiecutter.project_slug}}/environment.yml
Due: none

Fix.
  {{cookiecutter.project_slug}}/README.rst
Due: blacken-docs

Removed short description.
  cookiecutter.json
  {{cookiecutter.project_slug}}/LICENSE
  {{cookiecutter.project_slug}}/README.rst
Due: blacken-docs

Removed tox minversion:
  tox.ini
  {{cookiecutter.project_slug}}/tox.ini
Due: none
