Repository tobiasraabe/cookiecutter-research-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8, isort

.pre-commit-config.yaml:

exclude: \.mywaflib
repos:
-   repo: local
    hooks:
    - id: black
      name: Black - The Uncompromising Code Formatter
      language: system
      entry: black
      types: [python]
    - id: blacken-docs
      name: blacken-docs - Black for Documentation
      entry: blacken-docs
      language: system
      files: '\.(rst|md|markdown)'
      args: [--line-length=79, --py36]
    - id: flake8
      name: flake8
      language: system
      entry: flake8 - Linting
      types: [python]
    - id: isort
      name: isort - Sorting Imports
      language: system
      entry: isort
      args: [--settings-path=tox.ini]
      types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: check-yaml
        exclude: \{\{cookiecutter.project_slug\}\}/(readthedocs|environment).yml

Renamed refs.bib to references.bib.
  {{cookiecutter.project_slug}}/src/documentation/zreferences.rst
  {{cookiecutter.project_slug}}/src/paper/references.bib
  {{cookiecutter.project_slug}}/src/paper/research_paper.tex
  {{cookiecutter.project_slug}}/src/paper/research_pres_30min.tex
Due: blacken-docs

Fixed underscore in History.
  {{cookiecutter.project_slug}}/HISTORY.rst
Due: blacken-docs

Changed headings in documentation and added TOOD.rst.
  CONTRIBUTING.rst
  README.rst
  TODO.rst
  docs/code_conventions.rst
  docs/documentation.rst
  docs/index.rst
  docs/installation.rst
  docs/pyup.rst
  docs/todo.rst
  docs/travis.rst
  docs/usage.rst
  {{cookiecutter.project_slug}}/AUTHORS.rst
  {{cookiecutter.project_slug}}/HISTORY.rst
  {{cookiecutter.project_slug}}/README.rst
  {{cookiecutter.project_slug}}/TODO.rst
  {{cookiecutter.project_slug}}/src/documentation/todos.rst
Due: blacken-docs

Update nbsphinx from 0.4.1 to 0.4.2
  environment.yml
Due: none

Update pybtex from 0.22.0 to 0.22.2
  environment.yml
Due: none

Update pep8-naming from 0.7.0 to 0.8.0
  environment.yml
Due: none

Update tqdm from 4.29.1 to 4.30.0
  environment.yml
Due: none

Scheduled weekly dependency update for week 04 (#41)
  environment.yml
Due: none

Update dependencies.
  environment.yml
  {{cookiecutter.project_slug}}/environment.yml
Due: none

Readme fix.
  README.rst
Due: blacken-docs

Add issue and pr templates for project.
  {{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE.md
  {{cookiecutter.project_slug}}/.github/PULL_REQUEST_TEMPLATE.md
Due: blacken-docs

Fixed name instead of title.
  {{cookiecutter.project_slug}}/.github/PULL_REQUEST_TEMPLATE.md
Due: blacken-docs

Added missing pytest-cookies and env test only runs on travis.
  environment.yml
  tests/test_cookie.py
Due: black, flake8, isort

Added missing pytest-cookies and environment creation test runs only on Travis-CI. (#44)
  environment.yml
  tests/test_cookie.py
Due: black, flake8, isort

Add templates for issues and PRs. (#42)
  {{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE.md
  {{cookiecutter.project_slug}}/.github/PULL_REQUEST_TEMPLATE.md
Due: blacken-docs

more.
  CONTRIBUTING.rst
  README.rst
  docs/code_conventions.rst
Due: blacken-docs

Several fixes to documentation and related documents (#39)
  CONTRIBUTING.rst
  README.rst
  TODO.rst
  cookiecutter.json
  docs/code_conventions.rst
  docs/documentation.rst
  docs/index.rst
  docs/installation.rst
  docs/pyup.rst
  docs/todo.rst
  docs/travis.rst
  docs/usage.rst
  tox.ini
  {{cookiecutter.project_slug}}/AUTHORS.rst
  {{cookiecutter.project_slug}}/HISTORY.rst
  {{cookiecutter.project_slug}}/LICENSE
  {{cookiecutter.project_slug}}/README.rst
  {{cookiecutter.project_slug}}/TODO.rst
  {{cookiecutter.project_slug}}/src/documentation/todos.rst
  {{cookiecutter.project_slug}}/src/documentation/zreferences.rst
  {{cookiecutter.project_slug}}/src/paper/references.bib
  {{cookiecutter.project_slug}}/src/paper/research_paper.tex
  {{cookiecutter.project_slug}}/src/paper/research_pres_30min.tex
  {{cookiecutter.project_slug}}/tox.ini
Due: blacken-docs

Update flake8 from 3.7.3 to 3.7.5
  environment.yml
Due: none

Update flake8-comprehensions from 1.4.1 to 2.0.0
  environment.yml
Due: none

Update pandas from 0.24.0 to 0.24.1
  environment.yml
Due: none

Update pep8-naming from 0.8.0 to 0.8.1
  environment.yml
Due: none

Update pre-commit from 1.14.2 to 1.14.3
  environment.yml
Due: none

Update sphinx from 1.8.3 to 1.8.4
  environment.yml
Due: none

Scheduled weekly dependency update for week 05 (#45)
  environment.yml
Due: none

Layout fix in README.md.
  README.rst
Due: blacken-docs

Make appveyor build.
  appveyor.yml
Due: none

Fixed appveyor.
  .appveyor.yml
Due: none

Execute all tests on CI.
  tests/test_cookie.py
Due: black, flake8, isort

Debugging.
  tests/test_cookie.py
Due: black, flake8, isort

Test on all distributions.
  install_miniconda.sh
  tests/test_cookie.py
Due: black, flake8, isort

no skip.
  tests/test_cookie.py
Due: black, flake8, isort

fix.
  tests/test_cookie.py
Due: black, flake8, isort

fix.
  .appveyor.yml
  .travis.yml
  tests/test_cookie.py
Due: black, flake8, isort

fix.
  .appveyor.yml
  .travis.yml
Due: none

Final fix.
  tests/test_cookie.py
  tox.ini
Due: black, flake8, isort

fix.
  .appveyor.yml
  .travis.yml
  tox.ini
Due: none

fix.
  .appveyor.yml
  tox.ini
Due: none
