Repository tobiasraabe/cookiecutter-research-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8, isort

.pre-commit-config.yaml:

exclude: \.mywaflib
repos:
-   repo: local
    hooks:
    - id: black
      name: Black - The Uncompromising Code Formatter
      language: system
      entry: black
      types: [python]
    - id: blacken-docs
      name: blacken-docs - Black for Documentation
      entry: blacken-docs
      language: system
      files: '\.(rst|md|markdown)'
      args: [--line-length=79, --py36]
    - id: flake8
      name: flake8
      language: system
      entry: flake8 - Linting
      types: [python]
    - id: isort
      name: isort - Sorting Imports
      language: system
      entry: isort
      args: [--settings-path=tox.ini]
      types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: check-yaml
        exclude: \{\{cookiecutter.project_slug\}\}/(readthedocs|environment).yml

fix.
  .appveyor.yml
  .travis.yml
Due: none

fix.
  .appveyor.yml
Due: none

Fix testing on Appveyor (#46)
  .appveyor.yml
  .travis.yml
  install_miniconda.sh
  tests/test_cookie.py
  tox.ini
Due: black, flake8, isort

Update pep8-naming from 0.8.1 to 0.8.2
  environment.yml
Due: none

Update tqdm from 4.30.0 to 4.31.1
  environment.yml
Due: none

Update pre-commit from 1.14.3 to 1.14.4
  environment.yml
Due: none

Update pytest from 4.2.0 to 4.2.1
  environment.yml
Due: none

Update sphinx-rtd-theme from 0.4.2 to 0.4.3
  environment.yml
Due: none

Scheduled weekly dependency update for week 07 (#48)
  environment.yml
Due: none

Better pre-commits.
  .pre-commit-config.yaml
  environment.yml
  tox.ini
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/tox.ini
Due: none

Updated
  .appveyor.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/src/data_management/wscript
  {{cookiecutter.project_slug}}/src/wscript
Due: none

Everything is a pre-commit now! Line length is 88! (#49)
  .appveyor.yml
  .pre-commit-config.yaml
  environment.yml
  tox.ini
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/src/data_management/wscript
  {{cookiecutter.project_slug}}/src/wscript
  {{cookiecutter.project_slug}}/tox.ini
Due: none

Update pytest from 4.2.1 to 4.3.0
  environment.yml
Due: none

Fixed missing linting tox env.
  tox.ini
  {{cookiecutter.project_slug}}/tox.ini
Due: none

Update pytest from 4.2.1 to 4.3.0 (#50)
  environment.yml
Due: none

edit.
  .pre-commit-config.yaml
  environment.yml
  hooks/pre_gen_project.py
  pyproject.toml
  tests/test_cookie.py
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/prepare_data_for_project.py
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/src/analysis/schelling.py
  {{cookiecutter.project_slug}}/src/analysis/wscript
  {{cookiecutter.project_slug}}/src/documentation/wscript
  {{cookiecutter.project_slug}}/src/figures/plot_locations.py
  {{cookiecutter.project_slug}}/src/figures/wscript
  {{cookiecutter.project_slug}}/src/model_code/agent.py
  {{cookiecutter.project_slug}}/src/paper/wscript
Due: black, flake8, isort

edit.
  .pre-commit-config.yaml
Due: none

edit.
  .pre-commit-config.yaml
  environment.yml
  tox.ini
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/environment.yml
Due: none

edit.
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: none

Fix tox testing with linting. (#51)
  .pre-commit-config.yaml
  environment.yml
  hooks/pre_gen_project.py
  pyproject.toml
  tests/test_cookie.py
  tox.ini
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/environment.yml
  {{cookiecutter.project_slug}}/prepare_data_for_project.py
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/src/analysis/schelling.py
  {{cookiecutter.project_slug}}/src/analysis/wscript
  {{cookiecutter.project_slug}}/src/documentation/wscript
  {{cookiecutter.project_slug}}/src/figures/plot_locations.py
  {{cookiecutter.project_slug}}/src/figures/wscript
  {{cookiecutter.project_slug}}/src/model_code/agent.py
  {{cookiecutter.project_slug}}/src/paper/wscript
  {{cookiecutter.project_slug}}/tox.ini
Due: black, flake8, isort

Added drafts of documentation.
  README.rst
  docs/anaconda-on-windows.rst
  docs/code-conventions.rst
  docs/index.rst
Due: blacken-docs

fix.
  docs/anaconda-on-windows.rst
  environment.yml
  {{cookiecutter.project_slug}}/environment.yml
Due: blacken-docs

edit.
  docs/anaconda-on-windows.rst
Due: blacken-docs

Update matplotlib from 3.0.2 to 3.0.3
  environment.yml
Due: none

Update sphinx from 1.8.4 to 1.8.5
  environment.yml
Due: none

Added info for newer Conda Versions, fixed typos.
  docs/anaconda-on-windows.rst
Due: blacken-docs

Scheduled weekly dependency update for week 10 (#54)
  environment.yml
Due: none

Added info for newer Conda Versions, fixed typos. (#55)
  docs/anaconda-on-windows.rst
Due: blacken-docs

small fixes.
  docs/anaconda-on-windows.rst
Due: blacken-docs

some adjustments to other parts of the docs.
  README.rst
  docs/code-conventions.rst
  docs/documentation.rst
  docs/index.rst
  docs/installation.rst
  docs/pyup.rst
  docs/travis.rst
  docs/usage.rst
Due: blacken-docs

some more fixes.
  README.rst
  docs/anaconda-on-windows.rst
Due: blacken-docs

Moved waf tips and tricks.
  docs/index.rst
  docs/waf-tips-and-tricks.rst
  {{cookiecutter.project_slug}}/WAF.rst
Due: blacken-docs

fix.
  docs/anaconda-on-windows.rst
Due: blacken-docs

some other things.
  .pre-commit-config.yaml
  TODO.rst
  docs/documentation.rst
  docs/pyup.rst
  docs/travis.rst
  docs/usage.rst
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: blacken-docs

Update pandas from 0.24.1 to 0.24.2
  environment.yml
Due: none

Update pytest from 4.3.0 to 4.3.1
  environment.yml
Due: none
